.dropdown {
   position: relative;
}

.dropdown_btn {
   display: flex;
   align-items: center;
   gap: 0.2rem;
}

.dropdown_arrow {
   font-size: 1rem;
}

.dropdown_content {
   height: 0%;
   overflow: hidden;
   position: absolute;
   top: 110%;
   left: 0;
   background-color: rgb(2,0,34);
   z-index:1;
   transition: all 0.75s ease-in-out;
   text-align: center;
   width: 150%;
}

.dropdown_content .dropdown_item {
   display: block;
   padding: 5px 0;
   border-bottom: 1px solid grey;  
}

.dropdown_item:hover a {
   color: #2CE8A6;
}

.dropdown_content a {
   display: block;
   text-decoration: none;
   color: #fff;
   font-size: 1rem;
   line-height: 1.5;
 }

.dropdown:hover .dropdown_content {
   height: 430%;
 }