.menu {
   position: relative;
 }
 
 .dropdown-btn {
   display: flex;
   align-items: center;
   padding: 0.8rem;
   gap: 0 0.6rem;
 }
 
 .dropdown-arrow {
   font-size: 1.1rem;
 }
 
 .dropdown-content {
   position: absolute;
   top: 90%;
   left: 0%;
   background-color: rgb(53, 53, 53);
   box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
   transition: all linear 0.5s;
   z-index: 1;
   padding: 1rem;
   line-height: 1.4;
   display: flex;
   flex-wrap: wrap;
 }
 
 #capabilities {
     width: 120%;
 }
 
 #capabilities .dropdown-item {
     width: 100%;
 }
 
 #flavors {
     width: 400%;
 }
 
 .dropdown-content .dropdown-item {
     padding: 0.25rem;
     transition: all linear 1s;
 }
 
 #flavors .dropdown-item {
     width: 50%;
 }
 
 .dropdown-content a {
     text-decoration: none;
     color: #fff;
     font-size: 1rem;
 }
 
 .dropdown-item:hover a {
     cursor: pointer;
     color: rgb(73 118 193);
 }
 
 