.main_info {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

.main_info_block {
 width: 60%;
 display: flex;
 flex-direction: column;

}

.main_info_text {
 margin-bottom: 30px;
 text-align: justify;
}

.main_info_text h1 {
 margin-bottom: 10px;
}

.main_info_block h2 span {
 color: rgb(53, 102, 215);
}

@media only screen and (max-width: 768px) {
 .main_info {
    justify-content: center !important;
 }
}