.reviews_container {
   box-shadow: 0px 1px 7px 2px rgb(190, 190, 190);
   padding: 40px;
   width: 400px;
   height: auto;
   border-radius: 10px;
   font-size: 14px;
   text-align: center;
}

.review_video {
   position: relative;
} 

.review_video img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 1px solid #a9bcc5;
   margin-bottom: 10px;
}
/* modal */
.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
   z-index: 99 !important;
   visibility: hidden;
   display: flex;
   transition: 0.25s linear;
   opacity: 0;
}

.modal_open {
   visibility: visible;
   opacity: 1;
}

.modal .modal_close {
   position: absolute;
   top: 5px;
   right: 24px;
   line-height: 1;
   background: transparent !important;
   border: none;
   outline: none;
   padding: 10px 20px;
   cursor: pointer;
   z-index: 6;
   color: #fff;
   font-size: 48px;
   font-weight: 400;
   transition: 0.25s linear;
   font-family: inherit;
}

.modal_overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 5;
   background: rgba(51, 51, 51, 0.7);
   cursor: pointer;
}

.modal .modal_content {
   position: relative;
   z-index: 6;
}

.iframe_video {
   width: 560px;
   height: 315px;
   max-width: 100%;
   max-height: 100%;
}

/*  */
.play_icon {
   width: 35px;
   height: 35px;
   color: white;
   position: absolute;
   top: 28%;
   left: 45%;
   cursor: pointer;
}

.review-text {
   border-bottom: 1px solid rgb(208, 208, 208);
   padding-bottom: 10px;
   margin-bottom: 10px;
}

.users-name p{
   font-weight: bold;
   font-size: 18px;
}

.star_icon {
   color: rgb(255, 208, 0);
   font-size: 22px;
}