.flavors-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 20px;
 }
 
 .flavor_cards {
   cursor: pointer;
   width: 300px;
   height: 300px;
   background-color: aqua;
 }
 
 .flavor_cards img {
   width: 100%;
   height: 100%;
 }

 .border {
  border: 1px solid red;
  max-width: 1000px;
 }