.flavors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.flavor_cards {
  box-shadow: 0px 1px 7px 2px rgb(190, 190, 190);
  padding: 20px 20px 15px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 300px;
  max-width: 100%; 
  height: 220px;
  border-radius: 10px;
}

.flavor_cards p {
 align-self: flex-start;
 font-weight: bold;
}

.flavors_image {
 position: relative;
 overflow: hidden;
 max-width: 300px;
 box-shadow: 0px 1px 11px 2px #f7d8d8;
}

.flavors_image::after {
 content: '';
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 transition: .5s ease all;
}

.flavors_image img {
 width: 260px;
 max-width: 100%;
 height: 150px;
 object-fit: cover;
 transition: .5s ease all;
}

.flavors_image:hover img {
 transform: scale(1.1);
}

/* flavors-list */

.flavors-list_container  {
 display: flex;
 justify-content: space-between;
 margin-top: 25px;
 margin-bottom: 40px;
 gap: 20px;
 position: relative;
}

.flavors-list_block  {
 flex-grow: 1;
}

.flavors-list_block h3 {
 color: #082376;
}

.flavors-list_icon {
 color: #45bf61;
 font-size: 21px;
}
/* 
.flavors-list_block::before {
 width: 30px;
 height: 1px;
 top: 5%;
 left: -2%;
 content: "";
 position: absolute;
 margin-left: 20px;
 border-top: 2px dashed #45bf61;
}

.flavors-list_block::after {
 width: 30px;
 height: 1px;
 top: 5%;
 left: 8%;
 content: "";
 position: absolute;
 margin-left: 20px;
 border-top: 2px dashed #45bf61;
}
*/

.flavors-list {
 columns: 3;
 margin-right: 25px;
}

.flavors-list li {
 padding: 5px;
 font-weight: 500;
}


@media only screen and (max-width: 992px) {
 .flavors-container {
    justify-content: space-evenly;
 }

 .flavor_cards {
   width: 270px;
 }
}

@media only screen and (max-width: 768px) {
 /* .flavors-list {
   columns: 2;
 } */

 .flavors-list_container  {
   flex-wrap: wrap;
 }
 
}

@media (max-width: 400px) {
 .flavors-list {
     columns: 2;
 }
}