.alice-carousel {
   height: 50vh;
   overflow-y: hidden;
 }
 
 .slider-item img {
   width: 100%;
   height: auto;
   object-fit: cover;
 }
 
 .alice-carousel__dots {
   position: absolute;
   bottom: 4%;
   left: 50%;
 }
 
 .alice-carousel__prev-btn,
 .alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  padding: 5px 10px;
  width: 3rem !important;
  border: 1.5px solid #375588;
  border-radius: 50%;

 }
 
 .alice-carousel__next-btn {
   right: 1%;
 }
 
 .alice-carousel__prev-btn {
   left: 1%;
 }