.company-info {
   border-bottom: 1px solid rgb(237, 233, 233);
   padding: 10px;
}

.company-info_list {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.company-info li a img{
   width: 200px;
   max-width: 100%;
   min-width: 130px;
   height: auto;
}

.company-info_schedule {
   display: flex;
   align-items: center;
}

.schedule_icon {
   width: 50px;
   height: 50px;
   margin: 0 20px;
}

.sn {
   margin-right: 10px;
   cursor: pointer;
   width: 20px;
   height: 20px;
}