.header {
  padding: 20px 10px;
  position: relative;
  background-color: white;
 }

.fixed {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
 }

 .desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 !important;
 }
 
 .header nav {
  width: 500px;
 }

 .header input {
  width: 300px;
  padding: 10px;
  max-width: 100%;
  position: relative;
 }

 .nav_search {
  position: relative;
  width: 300px;
  max-width: 100%;
 }

 .search-button {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50px;
  height: 100%;
  font-size: 14px;
  background-color: transparent;
  border: none;
 }

 .burger_icon {
  font-size: 20px;
  position: absolute;
  right: 2%;
  top: 2%;
  display: none;
  cursor: pointer;
  }

 .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
 }
 
 .link {
  text-decoration: none;
  color: rgb(89, 89, 89);
  font-weight: 700;
 }
 
 .link:hover {
   color: #1548e2;
 }

 .desktop-nav.show {
  display: block;
 }

 @media only screen and (max-width: 768px) {
  .burger_icon {
     display: block;
  }

  .header nav {
    width: 100%;
  }

  .desktop-nav {
    display: none;
    flex-direction: column;
    align-items: start;
   }

   .nav_search {
    margin-top: 20px;
   }

   .navigation {
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
   }
}