.header {
  padding: 35px 0px;
  position: relative;
  z-index: 99;
  /* position: fixed;
  top: 20%; */
}

.header nav {
 width: 50%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: rgb(89, 89, 89) !important;
  font-weight: 700;

}

.link:hover {
  color: #2CE8A6;
}