.header {
  padding: 25px 10px;
  position: relative;
  background-color: white;
 }

 .fixed {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
 }

 .desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
 }
 
 .header nav {
  width: 500px;
 }

 .header input {
  width: 300px;
  padding: 10px;
  position: relative;
 }

 .search_icon {
  position: absolute;
  top: 43%;
  right: 2%;
 }

 .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
 }
 
 .link {
  text-decoration: none;
  color: rgb(89, 89, 89);
  font-weight: 700;
 }
 
 .link:hover {
  color: #1548e2;
}