.header {
  padding: 35px 0px;
  position: relative;
  /* position: fixed;
  top: 20%; */
 }

 .desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
 }
 
 .header nav {
  width: 500px;
 }

 .header input {
  width: 300px;
  padding: 10px;
  position: relative;
 }

 .search_icon {
  position: absolute;
  top: 43%;
  right: 1%;
 }

 .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
 }
 
 .link {
  text-decoration: none;
  color: rgb(89, 89, 89);
  font-weight: 700;
 }
 
 .link:hover {
   color: #2CE8A6;
 }