.login-page_container {
   display: flex;
   justify-content: space-between;
}

.login-page_logo a {
   border-bottom: 1px solid rgb(237, 233, 233);
   margin-bottom: 10px;
   display: inline-block;
}

.login-page_logo p {
   font-size: 11px;
   font-weight: 500;
   text-align: center;
}

.login-page_form {
   width: 300px;
   height: 220px;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid rgb(213, 213, 213);
   box-shadow: 0px 1px 7px 2px rgb(190, 190, 190);
}

.login-page_form form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login-page_form form input button {
   width: 100%;
}