@media only screen and (max-width: 768px) {
   .company-info_sn,
   .nav_search {
      display: none;
   }
}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 600px) {
   .desktop-nav {
      display: none;
   }
   .main_container {
      font-size: 14px;
   }

   .company-info_list {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
   }

   .schedule_icon {
      width: 41px;
      height: 41px;
   }
}