*,
::after,::before{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.main_container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .container {
   width: 1000px;
   max-width: 100%;
   margin: 0 auto;
  }

 .footer_container {
   height: 85px;
   padding: 10px 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
 }
 
 